/* General Layout */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0A0A0F;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1 { color: #ffffff;}

.backgroundCircle{
    position: fixed;
    width: 100%;
    height: 30%;
    border-radius: 50%;
    background: rgba(153, 0, 255, 0.11);
    filter: blur(100px);
    z-index: -1;
    pointer-events: none;
}

/*-------------------------------------------------------------
index.html
-------------------------------------------------------------*/
/* Filter Section */
.filter-section{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.menuBox{
    background-color: rgba(142, 142, 142, 0.4);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #8E8E8E;
    height: 90px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input, select, textarea{
    padding: 10px;
    background-color: rgba(142, 142, 142, 0.4);
    color: #8E8E8E;
    border-radius: 15px;
}

/* Search Box */
.searchIcon{
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: rgba(22, 59, 47, 0.5);
    border: 2px solid #163b2f;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.searchInput{
    width: 15vw;
    height: 45px;
    border: 2px solid #163b2f;
    color: aliceblue;
    font-size: 20px;
}

.searchInput::placeholder {
    color: aliceblue;
}

/*Category & Status Box*/
.filterIcon{
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: rgba(27, 43, 74,0.4);
    border: 2px solid #1B2B4A;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryFilter, .statusFilter{
    width: 13vw;
    height: 7vh;
    border: 2px solid #1B2B4A;
    font-size: 18px;
    color: aliceblue;
}

.categoryFilter option, 
.statusFilter option {
    background-color: #1B1B2F;
    color: aliceblue;
}

/* Add Button */
.addButton {
    background-color: #8954F3;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 8px #8954F3;
    font-size: 14px;
    border-radius: 15px;
    width: 150px;
    font-size: 24px;
}

.addButton svg {
    margin-right: 50px;
}

.buttonAddGoalText {
    margin: 0;
    
}


/* Grid & Cards */
.goals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.goal-card {
    background: white;
    color: #1E1E1E;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    cursor: pointer;
}

.goal-card-UpperInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.goal-card-UpperInfo p, 
.goal-card-UpperInfo span {
    background-color: rgba(130, 2, 215,0.4);
    border-radius: 20px;
    border: 2px solid #8202D7;
    padding: 5px 12px;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

